
.flex {
  display: flex;
}

.l-25w {width: 25%;}
.l-33w {width: 33.33%;}
.l-50w {width: 50%;}
.l-66w {width: 66.66%;}
.l-75w {width: 75%;}

.l-95w {
  width: 95% !important;
}
h4 {
  margin: 0 0 5px 0;
}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.App {
  width: 100%;
  height: 100%;
}
/* NAV */
nav.fontMetal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 8;
}

nav.fontMetal button, h1 {
  margin: 10px auto;
}


/* FILTER */
.filterWrapper {
  align-items: center;
  background: #eee;
  bottom: -1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 42%;
  justify-content: flex-end;
  left: calc(10vw / 2);
  margin: 0px auto 0 auto;
  position: fixed;
  width: 90%;
  z-index: 4;
}
.filterWrapper div {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterWrapper nav {
  display: flex;
  flex-flow: row;
  height: 20%;
  width: 100%;
}
.filterWrapper nav button {
  flex-grow: 1;
}
.filterSelectorWrapper {
  width: 70%;
}
.filterWrapper h3, h4 {
  width: 100%;
}
.filterSort h3 {
  margin: 0 0 5px 0;
}
.filterWrapper button {
  margin: 3px;
}
.filterWrapper button {
  position: relative;
}
.filterWrapper button::after {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.filterHide {
  position: absolute !important;
  top: -35px;
}

.sharkSort {
  width: 79%;
}

/* SONG PAGE */
.label input {
  width: 100%;
}
.label, iframe {
  display: block;
  /* margin: 0.7rem 0; */
  /* width: 50%; */
}
.label {
  /* width: 45%;
  min-height: 78px; */
}
.label, iframe {
  /* margin: 0 0 10px 0; */
}
.input {
  display: block;
  margin-left: -3px;
  /* margin: 0.3rem 0 0.3rem -4px;
  width: 90%; */
}

.songVocalistOption {
  min-height: 20px;
  width: 45%;
}

.vocalSelectWrapper, .vocalSelectReqSharks {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 3;
}
.modalSelectWrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
}
.modalSelectWrapper > * {
  flex-grow: 1;
}
.vocalSelectReqSharks {
  top: 40%;
  left: -25px;
}
.modalSelectWrapper h3 {
  width: 100%;
}


.button {
  margin: 20px;
}
/* .songLyrics, .songRequired {
  width: 44%;
  height: 10%;
} */
.songLyrics, .songVocalist, .songRequired {
  position: relative;
}
.songLyrics span, .songRequired span, .songVocalist span {
  position: absolute;
  top: 10px;
}
.songCover {
  position: absolute;
  top: 30px;
  right: 25px;
}
.label.audio input {
  width: 90%;
}
/* song detail exit button */
.exit {
  position: absolute;
  top: 43%;
  left: -44px;
  width: 28px;
  height: 35px;
}


/* GIG PAGE */
.gigWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 44%;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    'where when'
    'what what'
    'submit submit';
}
.gigDate {
  grid-area: when;
}
.gigLocation {
  grid-area: where;
}
p.gigLocation {
  margin-left: -1px;
}
.gigWrapper label {
}
.setListWrapper {
  grid-area: what;
  position: relative;
  overflow-y: scroll;
}
.setListWrapper h3 {
  margin: 5px 0px 10px 0px;
}
.setListAddBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}
.gigSubmit {
  grid-area: submit;
  margin: 0;
}
.gigList {
  width: 100%;
}
.gigList li {
  display: flex;
}
.setListWrapper .gigList button,
.sharksFavWrapper .gigList button {
  flex-grow: 0;
  width: auto !important;
  margin: 2px !important;
}
.gigList button:first-of-type {
  flex-grow: 1;
}

.gigWrapper input {
  width: 100%;
}

/* SHARK */
.sharkWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 44%;
  grid-template-rows: 70px 1fr 50px;
  grid-template-areas:
  'who when'
  'favs favs'
  'submit submit';
}
.sharkName {
  grid-area: who;
}
.sharkSince {
  grid-area: when;
}
.sharksFavWrapper {
  grid-area: favs;
  position: relative;
  overflow-y: scroll;
}
.sharksFavWrapper h3 {
  margin: 5px 0px 10px 0px;
}
.sharkSubmit {
  grid-area: submit;
  width: 90%;
  margin: 0 auto;

}
/* STATE */
.hide {display: none!important;}
.DetailWrapper {
  height: 90%;
  position: fixed;
  right: 0;
  top: 60px;
  width: 85%;
  z-index: 5;
}
.sharksFavAddBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.songWrapper {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 47% 47%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    'name name'
    'date status'
    'vocals vocals'
    'audio audio'
    'lyrics required'
    'submit submit';
}
.songVocalist .input {
  margin-top: 10px;
}

[name=dob] {
  width: 97%;
}
.songName {
  grid-area: name;
  width: 100%;
  height: 100%;
}
.songDate {
  grid-area: date;
  width: 100%;
  height: 100%;
}
.songStatus {
  grid-area: status;
  width: 100%;
  height: 100%;
}
.songVocalist {
  grid-area: vocals;
  width: 100%;
  height: 100%;
}
.audioForm, iframe {
  grid-area: audio;
  width: 100%;
  height: 100%;
  max-height: 80px;
}
.songLyrics {
  grid-area: lyrics;
  width: 100%;
  height: 100%;
}
.songRequired {
  width: 100%;
  height: 100%;
}
.songSubmit {
  grid-area: submit;
  place-items: center;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .hideForS {
    display: none!important;
  }
}
.AllSongs {
  height: 100%;
  width: 100%;
}
.AllSongs button {
  margin: 3px 0;
  width: 100%;
}
.AllSongs.gigList button {
  margin: 2px 0;
}
.AllSongs li:last-of-type {
  margin-bottom: 45vh;
}

.audio {
  height: 100%;
  width: 100%;
}

.newSongBtn, .userBtn {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
}
.newSongBtn {
  top: 77px;
}
.userBtn {
  bottom: 77px;
  z-index: 1;
}
.modalBox {
  min-width: 200px;
  max-width: 650px;
  flex-grow: 1;
}

h3 {
  margin-bottom: 5px;
}
button.submit {
  width: 90%;
  margin: 20px auto;
}

.modalBox label {
  width: 96%;
  margin: 20px auto;
}

.modalAllSongs {
  position: absolute;
  left: 2vw;
  top: 2vh;
  height: 96vh;
  width: 96vw;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.modalAllSongs li {
  width: 100%;
}
.modalAllSongs li button {
  width: 100% !important;
  margin: 0 !important;
}

#statusWrapper {
  order: 3;
}

#statusWrapper, #vocalsWrapper, #sharksWrapper {
  height: 65%;
}

#statusWrapper button, #vocalsWrapper button {
  flex-grow: 1;
}
.songVocalistOption input {
  display: none;
}

/* #status, #vocals, #covers {
  width: 55%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
} */
.filterSort {
  width: 30%;
  flex-direction: column;
}
.filterSort button {
  width: 90%;
  flex-grow: 1;
}
.mainWrapper {
  height: 100%;
  width: 100vw;
}
.modalBoxInner {
  width: 100%;
  height: 100%;
  position: relative;
}
.modalBox {
  height: 400px;
}
main {
  margin-top: 60px;
  height: calc(100vh - 60px);
}
[class^="face"] {
  position: absolute;
  height: 100%;
  width: 100%;
}
.facePasswordSuccess h2 {
  margin-top: 4%;
}
.passwordForget {
  width: 100%;
}

.modalBG, .halfModalBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalBG {
  z-index: 999;
}
.halfModalBG {
  z-index: 7;
}
.songLyricsModal {
  height: 80vh;
  width: 90vw;
}
.modalBox p {
  width: 100%;
  margin: 15px 0 0 0;
}
.songLyricsModal textarea {
  width: 100%;
  height: 95%;
  margin: 7px auto;
}

.loadingTag {
  margin-top: 0;
}

.loaderWrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99999999999999999999;
}

.gigList button {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 666px) {
  .modalAllSongs {
    left: -14vw;
  }
  .songCover {
    right: 75px;
  }
  .sharksFavAddBtn {
    top: 0;
  }
}
