* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}
p, li, button {
  font-size: 1rem;
}
ul {
  list-style: none;
}
body {
  font-size: 135%;
  font-family: 'Arial', sans-serif;
}
button {
  border: none;
  display: block;
  background: inherit;
  cursor: pointer;
}

input {
  border: none;
}
