:root {
  --shadowColor: rgba(48,41,43,0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
}
p, li, button {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
ul {list-style: none;}
body {
  font-size: 135%;
  background-color: #e8d6cd;
}
button {
  border: none;
  display: block;
  background: inherit;
  cursor: pointer;
}
.flex {
  display: flex;
}

.red {
  color: #c00;
  font-weight: bold;
}
.l-95w {
  width: 95% !important;
}

nav, #status, #vocals, #covers {
  font-family: 'Metal Mania';
  -webkit-text-stroke: 0.01em black;
}

/* NAV */
nav {
  box-shadow: 0 3px 1px slategrey;
  background-color: #484143;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 3;
}
nav button, h1 {
  padding: 5px 10px;
  text-transform: uppercase;
  color: white;
  font-family: inherit;
  font-size: 1.15em;
  margin: 10px auto;
}
h1 {
  text-shadow: 2px 2px black;
  letter-spacing: 0.5rem;
  color: white;
  font-size: 1.25em;
}
nav button:hover {
  color: pink;
}

/* FILTER */
/* FILTER */
.filterWrapper {
  align-items: center;
  background: #eee;
  bottom: -1px;
  box-shadow: 0px -2px 33px 12px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  justify-content: flex-end;
  left: calc(10vw / 2);
  margin: 0px auto 0 auto;
  padding: 10px 5px 10px 5px;
  position: fixed;
  width: 90%;
  z-index:9;
}
.filterWrapper div {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filterWrapper h3 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 1.35rem;
}
.filterWrapper button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
}
.filterWrapper button:hover {
  box-shadow: 0 0 10px 5px pink;
}
.filterSort {
  border-left: 2px solid black;
}
.filterHide {
  position: absolute;
  top: -35px;
}

/* SONG PAGE */

.label, iframe {
  display: block;
  margin: 0.7rem 0;
  color: darkslategrey;
  font-family: sans-serif;
  font-size: 0.9rem;
  border: 1px solid black;
  box-shadow: -5px 5px 0px var(--shadowColor);
  width: 50%;
}

.label {
  padding: 12px 0 0 12px;
}
.label {
  width: 45%;
  font-size: 1rem;
  min-height: 84px;
}
.label, iframe {
  margin: 0 0 10px 0;
}
.label input {
  font-size: 1.3rem;
  letter-spacing: 0.02cm;
}

.label:focus-within {
  background: #eee;
}
.input {
  display: block;
  margin: 0.3rem 0;
  font-size: 1.1em;
  border: none;
  text-decoration: none !important;
  width: 90%;
  padding: 6px 1px;
  text-indent: 2px;
  margin-left: -4px;
}

[name=dob] {
  font-size:1.1rem !important;
  letter-spacing: 0.008em !important;
}
.songName, iframe, .audioForm, .songVocalist {
  width: 96%;
}

.songVocalistOption {
  min-height: 20px;
  width: 30%;
}
.vocalSelectWrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap:wrap;
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  z-index: 5;
  border: 1px solid white;
  box-shadow: -2px 2px 0px grey;
}
.audioForm {
  height: 60px;
}
.label.audio {
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  line-height: 1em;
  padding: 7px 0 0 7px;
}
.label.audio input {
  font-size: 1rem;
}
.songEdit, .songCreate {
  width: 96% !important;
}
.button {
  margin: 20px;
  font-size: 1em;
}
.songLyrics, .songRequired {
  width: 44%;
  height: 10%;
}
.songLyrics, .songVocalist {
  position: relative;
  text-align: left;
}
.songLyrics span {
  position: absolute;
  top: 10px;
}
.songCover {
  position: absolute;
  top:16px;
  right:23px;
}

/* song detail exit button */
.exit {
  position: absolute;
  top: 43%;
  left: -42px;
  font-size: 1.75em !important;
  border-radius: 8px;
  border: 1px solid black;
  width: 30px;
  height: 35px;
}

/* GIG PAGE */
.gigWrapper {
  flex-direction: row !important;
}
.gigWrapper label {
  width: 96%;
  min-height: 65px !important;
  padding: 11px 0 0 11px;
  line-height: 10px;
}
.gigList {
  width: 100%;
  height: calc(100vh - 300px);
  overflow-y: scroll;
  padding: 0 5px 0 3px;
}
.gigList li {
  display: flex;
}
.gigList button {
  flex-grow: 0;
  width: auto !important;
  margin: 2px !important;
  padding: 2px 5px !important;
}
.gigList button:first-of-type {
  flex-grow: 1;
  text-align: left;
}

.gigWrapper input {
  width: 100%;
  font-size: 1.1rem !important;
}

.hideFilter {
  transform: rotate(180deg);
}

/* SHARK */


/* STATE */
.flipRotate {
  transform: rotate(0deg);
}

.hideFilter {
  transform: translateY(95%);
}

.hide {display: none!important;}

.active {
  background: deeppink;
  color: white;
  text-shadow: 2px 2px black;
  box-shadow: 1px 1px 0px black;
}
.active:hover {
  color: white;
}
@media screen and (max-width: 420px) {
  .hideForS {
    display: none!important;
  }
}


@keyframes slideIn {
  from {transform: translateX(100%)},
  to {transform: translateX(0)}
}
.wrapper {
  align-items: flex-start;
  animation: slideIn .5s;
  background: white;
  box-shadow: -4px 4px 1px var(--shadowColor);
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  height: 90%;
  padding-top: 20px;
  position: fixed;
  right: 0;
  top: 60px;
  width: 80%;
  z-index: 9;
}

.songEdit {
  border: 1px solid darkslategrey;
  border-radius: 4px;
  padding: 7px;
  /* width: 40%; */
  box-shadow: 0 0 1px 2px var(--shadowColor);
}
.songList {
  padding: 10px 0 0 10px;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
}
.songList button {
  font-size: 1.25em;
  margin: 3px 0;
  text-align: left;
  width: 90%;
  border: 1px solid transparent;
}
.songList .active {
  background: deeppink;
  color: white;
  border: 1px solid darkslategrey;
}
@media screen and (min-width: 700px) {
  .songList button:hover {
    background: deeppink;
    color: white;
    border: 1px solid darkslategrey;
  }
}
.songList li:last-of-type {
  margin-bottom: 200px;
}

.audio {
  height: 66px;
  width: 100%;
}
.audioForm {
  width: 96%;
}
.newSongBtn, .userBtn {
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background: white;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  font-size: 0.7em;
}
.newSongBtn {
  top: 77px;
}
.userBtn {
  bottom: 77px;
  z-index: 1;
}
.modalBox {
  min-width: 200px;
  background: white;
  padding: 20px 30px;
  max-width: 650px;
  flex-grow: 1;
}

@media screen and (min-width: 800px) {
  .modalBox {
    padding: 40px 80px;
  }
}
h3 {
  font-family: futura;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
button.submit {
  width: 90%;
  margin: 20px auto;

  color: deeppink;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 1.35em;
  font-weight: bold;
  border: 1px solid currentColor;
  box-shadow: 1px 1px 1px currentColor,
    -1px -1px 1px currentColor;
}

button.submit:disabled {
  color: darkgrey;

}
.modalBox label {
  width: 96%;
}


.modalSongList {
  position: absolute;
  left: -18vw;
  top: 0;
  height: 96vh;
  background: white;
  width: 96vw;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}
.modalSongList li {
  width: 100%;
}
.modalSongList li button {
  width: 100% !important;
  margin: 0 !important;
}

#statusWrapper {
  order: 3;
}

#statusWrapper, #vocalsWrapper {
  width: 45%;
  height: 100%;
  order: 3;
  overflow: hidden;
}
.filterSelectorWrapper {
  width: 25%;
}

#status, #vocals, #covers {
  width: 55%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.65rem;
  border-radius: 5px;
  min-width: 75px;
}
.filterSort {
  order: 99;
  width: 22%;
  padding-left: 5px;
}
.filterSort button {
  width: 90%;
}

h3 {
  text-decoration: underline;
}



.mainWrapper {
  height: 100%;
  width: 100vw;
  overflow-y: hidden;
}
main {
  margin-top: 60px;
  height: calc(100vh - 60px);
}





.wrapper {
  top: 60px;
  padding: 10px;
  justify-content: space-around;
  height: calc(100vh - 60px);
  align-items: center;
}



.modalBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: rgba(0,0,0,0.6);
}

.songLyricsModal {
  height: 80vh;
  width: 90vw;
  background: white;
  padding: 10px 20px 20px 20px;
}
.songLyricsModal textarea {
  width: 103%;
  height: 95%;
  border: 1px solid black;
  padding: 5px 10px;
}
